## Import Necessary Libraries

In [1]:
#import libraries
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

## ETL (Extract, Transform, Load)

In [2]:
#load train data
train_df = pd.read_csv("../Datasets/train.csv")

In [3]:
#check shape of train data
train_df.shape
print(f"The train data contains {train_df.shape[0]} rows and {train_df.shape[1]} columns.")

The train data contains 103904 rows and 25 columns.

In [4]:
#display first 5 rows
train_df[:5]

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

In [5]:
#display 10 random rows
train_df.sample(10)

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
73547,73547,11891,Male,Loyal Customer,41,Business travel,Business,501,3,3,...,2,2,3,2,3,2,4,0,0.0,satisfied
101752,101752,59557,Female,Loyal Customer,29,Business travel,Business,964,1,1,...,5,3,4,4,5,4,5,10,0.0,satisfied
39742,39742,36674,Male,Loyal Customer,13,Personal Travel,Eco,1237,3,3,...,1,1,4,2,2,4,1,0,16.0,neutral or dissatisfied
24053,24053,53078,Female,Loyal Customer,49,Business travel,Eco Plus,1190,4,3,...,4,4,4,4,4,4,1,0,0.0,satisfied
50799,50799,89352,Male,disloyal Customer,85,Business travel,Business,1187,3,3,...,3,4,3,3,5,1,5,0,7.0,neutral or dissatisfied
52888,52888,91944,Female,Loyal Customer,43,Personal Travel,Eco,2586,4,5,...,1,1,4,1,3,1,4,0,0.0,satisfied
70242,70242,53046,Male,Loyal Customer,7,Personal Travel,Eco,1190,4,4,...,1,3,5,3,3,4,1,0,0.0,neutral or dissatisfied
47522,47522,88720,Male,Loyal Customer,35,Personal Travel,Eco,404,4,4,...,5,4,5,5,3,5,5,0,0.0,neutral or dissatisfied
49808,49808,32071,Male,Loyal Customer,38,Business travel,Eco,163,4,3,...,4,5,3,3,5,4,4,0,0.0,satisfied
27838,27838,113443,Female,Loyal Customer,33,Business travel,Eco,226,3,2,...,3,3,4,3,3,3,3,0,0.0,neutral or dissatisfied

In [34]:
#display column names 
train_df.columns

Index(['id', 'Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class',
       'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'satisfaction'],
      dtype='object')

In [6]:
#the unnamed column look like they have the same values as the index, check count
if train_df["Unnamed: 0"].count()  == train_df["Unnamed: 0"].nunique():
    print(f"The Unnamed column contains {train_df['Unnamed: 0'].nunique()} unique values.")

The Unnamed column contains 103904 unique values.

In [7]:
#set unnamed column as new index
train_df = train_df.set_index("Unnamed: 0")

#rename index
train_df.index.name = "Index"

In [8]:
#view changes
train_df.head(2)

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
Index,,,,,,,,,,,,,,,,,,,,,
0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied

In [9]:
#replace spaces in column names with underscore _
string = {" ": "_"}
train_df.columns = train_df.columns.str.replace(" ", "_", regex=True)

In [10]:
#capitalize column names
train_df.columns = train_df.columns.str.title()

In [11]:
#view changes
train_df.columns

Index(['Id', 'Gender', 'Customer_Type', 'Age', 'Type_Of_Travel', 'Class',
       'Flight_Distance', 'Inflight_Wifi_Service',
       'Departure/Arrival_Time_Convenient', 'Ease_Of_Online_Booking',
       'Gate_Location', 'Food_And_Drink', 'Online_Boarding', 'Seat_Comfort',
       'Inflight_Entertainment', 'On-Board_Service', 'Leg_Room_Service',
       'Baggage_Handling', 'Checkin_Service', 'Inflight_Service',
       'Cleanliness', 'Departure_Delay_In_Minutes', 'Arrival_Delay_In_Minutes',
       'Satisfaction'],
      dtype='object')

In [12]:
#check info
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103904 entries, 0 to 103903
Data columns (total 24 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Id                                 103904 non-null  int64
 1   Gender                             103904 non-null  object
 2   Customer_Type                      103904 non-null  object
 3   Age                                103904 non-null  int64
 4   Type_Of_Travel                     103904 non-null  object
 5   Class                              103904 non-null  object
 6   Flight_Distance                    103904 non-null  int64
 7   Inflight_Wifi_Service              103904 non-null  int64
 8   Departure/Arrival_Time_Convenient  103904 non-null  int64
 9   Ease_Of_Online_Booking             103904 non-null  int64
 10  Gate_Location                      103904 non-null  int64
 11  Food_And_Drink                     103904 non-null  int64
 12  Online_Boarding                    103904 non-null  int64
 13  Seat_Comfort                       103904 non-null  int64
 14  Inflight_Entertainment             103904 non-null  int64
 15  On-Board_Service                   103904 non-null  int64
 16  Leg_Room_Service                   103904 non-null  int64
 17  Baggage_Handling                   103904 non-null  int64
 18  Checkin_Service                    103904 non-null  int64
 19  Inflight_Service                   103904 non-null  int64
 20  Cleanliness                        103904 non-null  int64
 21  Departure_Delay_In_Minutes         103904 non-null  int64
 22  Arrival_Delay_In_Minutes           103594 non-null  float64
 23  Satisfaction                       103904 non-null  object
dtypes: float64(1), int64(18), object(5)
memory usage: 19.8+ MB

In [13]:
#check for missing values in train data
train_df.isnull().sum()

Id                                     0
Gender                                 0
Customer_Type                          0
Age                                    0
Type_Of_Travel                         0
Class                                  0
Flight_Distance                        0
Inflight_Wifi_Service                  0
Departure/Arrival_Time_Convenient      0
Ease_Of_Online_Booking                 0
Gate_Location                          0
Food_And_Drink                         0
Online_Boarding                        0
Seat_Comfort                           0
Inflight_Entertainment                 0
On-Board_Service                       0
Leg_Room_Service                       0
Baggage_Handling                       0
Checkin_Service                        0
Inflight_Service                       0
Cleanliness                            0
Departure_Delay_In_Minutes             0
Arrival_Delay_In_Minutes             310
Satisfaction                           0
dtype: int64

In [16]:
#view first 5 rows of the column with missing values
train_df["Arrival_Delay_In_Minutes"].head()

Index
0    18.0
1     6.0
2     0.0
3     9.0
4     0.0
Name: Arrival_Delay_In_Minutes, dtype: float64

In [18]:
#fill missing values in the column with the mean
train_df["Arrival_Delay_In_Minutes"] = train_df["Arrival_Delay_In_Minutes"].fillna(train_df["Arrival_Delay_In_Minutes"].mean())

In [19]:
#confirm missing values have been filled
train_df["Arrival_Delay_In_Minutes"].isnull().sum()

0

In [20]:
train_df.dtypes

Id                                     int64
Gender                                object
Customer_Type                         object
Age                                    int64
Type_Of_Travel                        object
Class                                 object
Flight_Distance                        int64
Inflight_Wifi_Service                  int64
Departure/Arrival_Time_Convenient      int64
Ease_Of_Online_Booking                 int64
Gate_Location                          int64
Food_And_Drink                         int64
Online_Boarding                        int64
Seat_Comfort                           int64
Inflight_Entertainment                 int64
On-Board_Service                       int64
Leg_Room_Service                       int64
Baggage_Handling                       int64
Checkin_Service                        int64
Inflight_Service                       int64
Cleanliness                            int64
Departure_Delay_In_Minutes             int64
Arrival_Delay_In_Minutes             float64
Satisfaction                          object
dtype: object

In [21]:
train_df.Gender.unique()

array(['Male', 'Female'], dtype=object)

In [22]:
train_df.Gender = train_df["Gender"].map({"Male": 0, "Female": 1})

In [25]:
train_df.Gender.sample(4)

Index
101353    0
36282     1
58        1
77219     0
Name: Gender, dtype: int64

In [26]:
train_df.Customer_Typeomer_Type.unique()

array(['Loyal Customer', 'disloyal Customer'], dtype=object)

In [27]:
train_df.Customer_Type = train_df.Customer_Type.map({"Loyal Customer": 0, "disloyal Customer": 1})
train_df.Customer_Type.unique()

array([0, 1], dtype=int64)

In [28]:
train_df.Type_Of_Travel.unique()

array(['Personal Travel', 'Business travel'], dtype=object)

In [29]:
train_df.Type_Of_Travel = train_df.Type_Of_Travel.map({"Personal Travel": 0, "Business travel": 1})
train_df.Type_Of_Travel.unique()

array([0, 1], dtype=int64)

In [30]:
train_df.Class.unique()

array(['Eco Plus', 'Business', 'Eco'], dtype=object)

In [31]:
train_df.Class = train_df.Class.map({"Eco Plus": 0, "Business": 1, "Eco": 2})
train_df.Class.unique()

array([0, 1, 2], dtype=int64)

In [32]:
train_df.Satisfaction.unique()

array(['neutral or dissatisfied', 'satisfied'], dtype=object)

In [33]:
train_df.Satisfaction = train_df.Satisfaction.map({"neutral or dissatisfied": 0, "satisfied": 1})
train_df.Satisfaction.unique()

array([0, 1], dtype=int64)

In [34]:
train_df.head()

,Id,Gender,Customer_Type,Age,Type_Of_Travel,Class,Flight_Distance,Inflight_Wifi_Service,Departure/Arrival_Time_Convenient,Ease_Of_Online_Booking,...,Inflight_Entertainment,On-Board_Service,Leg_Room_Service,Baggage_Handling,Checkin_Service,Inflight_Service,Cleanliness,Departure_Delay_In_Minutes,Arrival_Delay_In_Minutes,Satisfaction
Index,,,,,,,,,,,,,,,,,,,,,
0,70172,0,0,13,0,0,460,3,4,3,...,5,4,3,4,4,5,5,25,18.0,0
1,5047,0,1,25,1,1,235,3,2,3,...,1,1,5,3,1,4,1,1,6.0,0
2,110028,1,0,26,1,1,1142,2,2,2,...,5,4,3,4,4,4,5,0,0.0,1
3,24026,1,0,25,1,1,562,2,5,5,...,2,2,5,3,1,4,2,11,9.0,0
4,119299,0,0,61,1,1,214,3,3,3,...,3,3,4,4,3,3,3,0,0.0,1

In [35]:
train_df = train_df.apply(lambda x : x/np.max(x), axis=0)

In [37]:
train_df.head()

,Id,Gender,Customer_Type,Age,Type_Of_Travel,Class,Flight_Distance,Inflight_Wifi_Service,Departure/Arrival_Time_Convenient,Ease_Of_Online_Booking,...,Inflight_Entertainment,On-Board_Service,Leg_Room_Service,Baggage_Handling,Checkin_Service,Inflight_Service,Cleanliness,Departure_Delay_In_Minutes,Arrival_Delay_In_Minutes,Satisfaction
Index,,,,,,,,,,,,,,,,,,,,,
0,0.540283,0.0,0.0,0.152941,0.0,0.0,0.092314,0.6,0.8,0.6,...,1.0,0.8,0.6,0.8,0.8,1.0,1.0,0.015704,0.011364,0.0
1,0.038859,0.0,1.0,0.294118,1.0,0.5,0.047160,0.6,0.4,0.6,...,0.2,0.2,1.0,0.6,0.2,0.8,0.2,0.000628,0.003788,0.0
2,0.847151,1.0,0.0,0.305882,1.0,0.5,0.229179,0.4,0.4,0.4,...,1.0,0.8,0.6,0.8,0.8,0.8,1.0,0.000000,0.000000,1.0
3,0.184986,1.0,0.0,0.294118,1.0,0.5,0.112783,0.4,1.0,1.0,...,0.4,0.4,1.0,0.6,0.2,0.8,0.4,0.006910,0.005682,0.0
4,0.918532,0.0,0.0,0.717647,1.0,0.5,0.042946,0.6,0.6,0.6,...,0.6,0.6,0.8,0.8,0.6,0.6,0.6,0.000000,0.000000,1.0

In [42]:
X = train_df.drop("Satisfaction", axis=1)
y = train_df["Satisfaction"]

In [43]:
y.head()

Index
0    0.0
1    0.0
2    1.0
3    0.0
4    1.0
Name: Satisfaction, dtype: float64

In [10]:
#load test data
test_df = pd.read_csv("../Datasets/test.csv")
test_df.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,19556,Female,Loyal Customer,52,Business travel,Eco,160,5,4,...,5,5,5,5,2,5,5,50,44.0,satisfied
1,1,90035,Female,Loyal Customer,36,Business travel,Business,2863,1,1,...,4,4,4,4,3,4,5,0,0.0,satisfied
2,2,12360,Male,disloyal Customer,20,Business travel,Eco,192,2,0,...,2,4,1,3,2,2,2,0,0.0,neutral or dissatisfied
3,3,77959,Male,Loyal Customer,44,Business travel,Business,3377,0,0,...,1,1,1,1,3,1,4,0,6.0,satisfied
4,4,36875,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,...,2,2,2,2,4,2,4,0,20.0,satisfied

In [11]:
#inspect shape of test data
test_df.shape
print(f"The test data contains {test_df.shape[0]} rows and {test_df.shape[1]} columns.")

The test data contains 25976 rows and 25 columns.

In [12]:
#display info
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25976 entries, 0 to 25975
Data columns (total 25 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Unnamed: 0                         25976 non-null  int64
 1   id                                 25976 non-null  int64
 2   Gender                             25976 non-null  object
 3   Customer Type                      25976 non-null  object
 4   Age                                25976 non-null  int64
 5   Type of Travel                     25976 non-null  object
 6   Class                              25976 non-null  object
 7   Flight Distance                    25976 non-null  int64
 8   Inflight wifi service              25976 non-null  int64
 9   Departure/Arrival time convenient  25976 non-null  int64
 10  Ease of Online booking             25976 non-null  int64
 11  Gate location                      25976 non-null  int64
 12  Food and drink                     25976 non-null  int64
 13  Online boarding                    25976 non-null  int64
 14  Seat comfort                       25976 non-null  int64
 15  Inflight entertainment             25976 non-null  int64
 16  On-board service                   25976 non-null  int64
 17  Leg room service                   25976 non-null  int64
 18  Baggage handling                   25976 non-null  int64
 19  Checkin service                    25976 non-null  int64
 20  Inflight service                   25976 non-null  int64
 21  Cleanliness                        25976 non-null  int64
 22  Departure Delay in Minutes         25976 non-null  int64
 23  Arrival Delay in Minutes           25893 non-null  float64
 24  satisfaction                       25976 non-null  object
dtypes: float64(1), int64(19), object(5)
memory usage: 5.0+ MB

In [13]:
#get missing values in test data
test_df.isna().sum()

Unnamed: 0                            0
id                                    0
Gender                                0
Customer Type                         0
Age                                   0
Type of Travel                        0
Class                                 0
Flight Distance                       0
Inflight wifi service                 0
Departure/Arrival time convenient     0
Ease of Online booking                0
Gate location                         0
Food and drink                        0
Online boarding                       0
Seat comfort                          0
Inflight entertainment                0
On-board service                      0
Leg room service                      0
Baggage handling                      0
Checkin service                       0
Inflight service                      0
Cleanliness                           0
Departure Delay in Minutes            0
Arrival Delay in Minutes             83
satisfaction                          0
dtype: int64

In [14]:
#view column with missing values
test_df["Arrival Delay in Minutes"].sample(6)

19974      0.0
7777       0.0
706        0.0
18765     10.0
16336    180.0
12468     37.0
Name: Arrival Delay in Minutes, dtype: float64

In [20]:
#fill missing values in column with the mean
test_df["Arrival Delay in Minutes"] = test_df["Arrival Delay in Minutes"].fillna(test_df["Arrival Delay in Minutes"].mean())

In [23]:
#confirm missing values have been filled
test_df.isnull().sum().sum()

0

In [26]:
test_df.columns

Index(['Unnamed: 0', 'id', 'Gender', 'Customer Type', 'Age', 'Type of Travel',
       'Class', 'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'satisfaction'],
      dtype='object')